<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <p>Wilford Schaffner</p>
    <p>Hi, my name is Wilford Schaffner and I am a Father of one kiddo (soon two), a Husband, and a UI/UX Designer.</p>
    <p>Hobbies</p>
    <ui>
        <li>Working (This is all I do now...)</li>
        <li>Hanging out with my family. Going on fun adventures</li>
        <li>Going to church</li>
        <li>Playing Video Games</li>
    </ui>
    <img src="images/family_pic.jpg">
</main>
<%- include('partials/footer') %>